.black-text {
  color: #3a343a;
}

.cool-grey-text {
  color: #4a4d55;
}

.medium-grey-text {
  color: #727376;
}

.soft-grey-text {
  color: #cacacc;
}

.light-grey-text {
  color: #ededee;
}

.gainsboro-grey-text {
  color: #fafafa;
}
