.nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-bar-item {
  flex: auto;
}

.nav-bar-heading {
  flex-grow: 3;
}

.nav-bar-title {
  margin-bottom: 0;
  line-height: 105%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: 3px;
}

.nav-bar-subheading {
  font-family: 'Work-Sans', sans-serif;
  font-weight: 400;
}

.user-name {
  padding: 1em;
  margin-bottom: 0;
}

.nav-bar-user-logo {
  margin: 1em;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: thin solid #4d4d4d;
}

.nav-link {
  color: #727376;
  padding: 1em;
}

.nav-link:hover {
  color: #3a343a;
}

.action-button {
  background-color: white;
  border: thin solid #727376;
  color: #727376;
  font-size: 14px;
  appearance: none;
  padding: 0.6em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 6px;
  margin: 1em;
}

.action-button:hover {
  cursor: pointer;
  color: #3a343a;
  border: thin solid #3a343a;
}

.action-button:disabled {
  color: rgb(208, 208, 208);
  border-color: rgb(208, 208, 208);
}

/* Really small phones */
@media screen and (min-width: 300px) {
  .nav-bar-container {
    flex-direction: column;
  }

  .nav-bar-group {
    flex-direction: column-reverse;
  }
}

/* Regular smart phones, including iPhone 6 + with 414px viewport! */
@media screen and (min-width: 414px) {
  .nav-bar-container {
    flex-direction: column;
  }

  .nav-bar-group {
    flex-direction: column-reverse;
  }
}

/* Regular Tablets from 480 to 800px including Galaxy tablets - 768px is only good for iPad */
@media screen and (min-width: 481px) {
  .nav-bar-container {
    flex-direction: column;
  }

  .nav-bar-group {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 660px) {
  .nav-bar-container {
    flex-direction: row;
  }

  .nav-bar-group {
    flex-direction: row;
  }
}

@media screen and (min-width: 810px) {
  .nav-bar-container {
    flex-direction: row;
  }

  .nav-bar-group {
    flex-direction: row;
  }
}
